target/
.idea/
*.iml
src/it/resources/docker/*_server.cert
src/it/resources/docker/*_server.key
src/it/resources/docker/*_trust_store
hs_err_*.log
core
META-INF/
.bsp
.metals/
.bloop/
project/.bloop/
project/metals.sbt
project/project
.DS_Store
